/*css for the main title block*/
.title{
    background-image: url(images/vacation_title.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 250px; 
	margin: -5px;
	image-rendering: pixelated;
    font-size: 46pt;
    text-align: left;
}

.top_can{
    background-image: url(images/canada_top.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 200px; 
	margin: -5px;
	image-rendering: pixelated;
    font-size: 46pt;
    text-align: left;
}




